.stack {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.pagination-stack {
  display: flex;
  align-items: center;
  gap: 2rem;
}


