.header {
  background-color: var(--white-color);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 999;
  transition: all 0.2s;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.08);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  // max-width: 1400px;
  margin: 0 auto;
}

.toggle-menu-btn {
  color: var(--primary-color);
  display: none;
  
}

.heading {
  color: #636363;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.navbar-link {
  color: var(--black-900);
  font-size: var(--fs-md);
  font-weight: var(--fw-500);
  transition: all .3s;
  background-color: transparent;
  cursor: pointer;
  gap: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    color: var(--primary-color);
  }

  // border-bottom: 1px solid transparent;

  &:hover {
    color: var(--primary-color);
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.disabled:hover {
    color: unset;
  }
}

.divider {
  width: 1px;
  height: 28px;

  background: #636363;
}


@media (max-width: 1024px) {
  .navbar, .heading, .divider {
    display: none;
  }

  .logo {
    margin: auto;

    img {
      width: 8rem;
      object-fit: cover;
      height: auto;
    }
  }

  .toggle-menu-btn {
    display: block;
  }
}