.header {
  padding: 2rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading-status {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1f1f1f;
}

.bnt-drafting-group {
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tag-published {
  background-color: #00ae4e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 33px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

.tag-wait {
  background-color: #ee9547;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 33px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

.tag-refused {
  background-color: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 33px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

.tag-refused {
  background-color: #FF0000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 33px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

.tag-closed {
  background-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 33px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .8rem 1rem;
}



.btn-drafting {
  background-color: #17a8fd;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.6rem 2rem;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: all 0.4s;
  border: 1.5px solid #17a8fd;
  text-transform: uppercase;

  &.outline {
    background-color: transparent;
    border: 1.5px solid #17a8fd;
    color: #17a8fd;

    &:hover {
      background-color: #138dd4;
      color: var(--white-color);
    }
  }

  &:hover {
    background-color: #138dd4;
    box-shadow: 0 0 0 0.25rem #abd6ef;
  }
}

.status-active {
  width: 7px;
  height: 7px;
  background: #00ae4e;
  border-radius: 7px;
}

.items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.item {
  display: flex;
  align-items: center;
  color: #636363;
  font-size: 1.2rem;
  gap: 1rem;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tabs-list {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
  padding: 0 2rem;
}

.tabs-trigger {
  all: unset;
  background-color: transparent;
  height: 4rem;
  display: flex;
  //   flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
  color: #848c9a;
  cursor: pointer;
  position: relative;

  &[data-state="active"] {
    color: var(--primary-color);
  }

  &[data-state="active"]::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.3s;
  }

  &:hover {
    opacity: 0.6;
  }
}

.tab-content {
  flex-grow: 1;
  background-color: #f5f7f8;
  outline: none;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0rem 2rem;
}

.row {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  margin: 2rem 0 0;
}

@media (max-width: 768px) {
  .row,
  .items {
    flex-direction: column;
    align-items: stretch;
  }
}
