.rainbow {
//   min-height: 100vh;
//   overflow: hidden;
//   padding: 5rem 10rem;
}

.framer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  background: #FF5555;
}

.framer-2 {
  background: #FF8B71;
}

.framer-3 {
  background: #FF5555;
}

.framer-4 {
  background: #FF8B71;
}
