.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 1200px) {
    display: none;
  }
}

.close-menu-button {
  color: #484848;
}

.user-wrapper {
  display: flex;
  align-items: center;
  // gap: 1.5rem;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding-bottom: 2rem;

  @media (min-width: 1200px) {
    display: none;
  }
}

.user-wrapper-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1.4rem 0;
}

.user-wrapper-divider {
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
  margin: 1rem 0;
}

.user-box {
  span {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #636363;
    border: 2px solid #e8e8e8;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--white-color);
  }
}

.user-name {
  font-size: 1.6rem;
  color: #1f1f1f;
  font-weight: 500;
}
