@import "./reset.scss";

:root {
  // COLOR CONFIGURATION
  --primary-color: #ff5555;
  --primary-color-hover: #c83b3b;
  --gradient-linear: linear-gradient(90deg, #ff5555 0%, #ff8b71 100%);
  --gradient-linear-hover: linear-gradient(90deg, #ff8b71 0%, #ff5555 100%);
  --gradient-linear-text: -webkit-linear-gradient(
    90deg,
    #ff5555 0%,
    #ff8b71 100%
  );
  --gradient-linear-state: linear-gradient(
    0.01deg,
    #ff5555 3.19%,
    rgba(255, 85, 85, 0) 100%
  );
  --white-color: #ffffff;

  --black-color: #000000;
  --black-900: #1f1f1f;
  --black-700: #484848;
  --black-600: #333333;
  --black-color-hover: #222222;

  --grey-color-100: #e8e8e8;
  --grey-color-400: #939598;

  --whatsApp-color: #04d361;
  --whatsApp-hover-color: #00b150;
  --gradient-linear-whatsApp: linear-gradient(
    90.17deg,
    #28c542 1.06%,
    #5aef75 104.36%
  );

  //FONT CONFIGURATION

  --ff-inter: "Inter", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2rem;
  --fs-24xl: 2.4rem;
  --fs-3xl: 3rem;
  --fs-32xl: 3.2rem;
  --fs-6xl: 6rem;
  --fs-64xl: 6.4rem;
  --fs-8xl: 8rem;
  --fs-96xl: 9.6rem;

  --shadow-1: 0px 2px 15px hsla(0, 0%, 0%, 0.05);
  --shadow-2: -10px 10px 40px -2px hsla(217, 21%, 16%, 0.05);

  --section-hero-padding: 80px;

  --section-padding: 40px;

  --transition-1: all 0.3s ease-in;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  --overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-inter);
  font-size: 10px;
  overflow: var(--overflow);
  //-webkit-user-select: none; /* Safari */
  //-ms-user-select: none; /* IE 10 and IE 11 */
  // user-select: none; /* Standard syntax */
}

body {
  background-color: var(--white-color);
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-md);
  line-height: 1.7;
  scroll-behavior: smooth;
  min-height: 100vh;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 175, 175);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #771f1f;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section-hero {
  padding-block: var(--section-hero-padding);
}

.section {
  padding-block: var(--section-padding);
}

.section-heading {
  font-size: var(--fs-32xl);
  font-weight: var(--fw-700);
  color: var(--black-900);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.keen-slider__slide {
  // transition: all .1s;

  &:hover > * {
    // transform: scale(1.2);
  }
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  height: 4rem;
}

.dot {
  border: none;
  width: 12px;
  height: 12px;
  background: var(--grey-color-100);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: var(--primary-color);
  width: 17px;
  height: 17px;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
}

.react-modal-content {
  min-width: 10rem;
  max-width: 50rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  border-radius: 1rem;
  outline: none;

  &.w-40 {
    max-width: 40rem;
  }

  &.w-100 {
    max-width: 100rem;
  }

  &.ticket-modal {
    background: transparent;
  }
}

.react-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  z-index: 10;
  background: transparent;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.9);
  }
}

/************************************
QUILL - RICH TEXT EDITOR
************************************/
.quill-container {
  width: 100%;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); */
  border: 0.15rem solid #f1f7fc;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #fff;
  /* min-height: 20rem; */
  #toolbar,
  #t1,
  #t2,
  #t3,
  #t4,
  #t5 {
    border-radius: 1rem;
    background-color: #f9f9f9;
    border: none;
    margin-bottom: 1rem;
  }

  /* #toolbar-container .ql-color .ql-color-label.ql-stroke {
      stroke: #00ff00;
    } */

  .ql-toolbar .ql-stroke {
    /* fill: none;
      stroke: #fff; */
    &:hover {
      color: #f26834;
      stroke: #f26834;
    }
  }

  .ql-toolbar .ql-fill {
    /* fill: #fff;
      stroke: none; */
    &:hover {
      color: #f26834;
      stroke: #f26834;
    }
  }

  .ql-toolbar .ql-picker {
    /* color: #fff; */

    &:hover {
      color: #f26834;
      stroke: #f26834;
    }
  }

  .ql-editor {
    overflow-y: auto;
    resize: vertical;
    border-radius: 0.2rem;
    border: none;
    min-height: 10rem;

    /* font-size: 1.4rem; */
  }

  .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    /* background: red; */
    background-color: transparent;
    border: none !important;

    &:focus {
      color: red;
    }
  }

  .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    background-color: #f1f7fc;
    border: none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    svg {
      color: red !important;
    }
  }

  /* .ql-toolbar .ql-stroke {
      fill: red;
      stroke: red;
    }
  
    .ql-toolbar .ql-fill {
      fill: red;
      stroke: red;
    }
  
    .ql-toolbar .ql-picker {
      color: red;
    } */
}

/*-----------------------------------*\
#MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 575px) {
  .header {
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  }
}

@media (min-width: 575px) {
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (max-width: 668px) {
  .react-modal-overlay {
    align-items: flex-start;
    justify-content: flex-start;
    // overflow: hidden;
  }

  .react-modal-content {
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.w-40 {
      max-width: 100%;
    }

    &.w-100 {
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

//  max-width: 600px;
/********************************
PRINT
********************************/

@page {
  // size: 0in;
  // size: A4;
  // size: 30mm 50mm;
  size: 57mm 125mm;
  margin: 0;
  // width: 110mm;
  // height: 197mm;
}

@media all {
  .pagebreak {
    display: none;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
  }

  // .ticket-to-print-title {
  //   font-size: 4pt !important;
  //   font-weight: 600 !important;
  // }

  // .ticket-to-print-owner {
  //   font-size: 3pt !important;
  //   font-weight: 600 !important;
  //   color: rgb(134, 133, 133);
  //   margin: 1pt !important;
  // }

  // .ticket-to-print-ticket-item-heading {
  //   font-weight: 500;
  // }
}
