.ticket {
  background-color: var(--white-color);
  padding-block-start: calc(var(--section-padding) + 120px);
}

.header {
  width: 100%;
  padding: 2rem 0;
}

.heading {
  font-size: 3rem;
  color: var(--black-900);
  font-weight: 600;
  margin-bottom: 2rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tabs-list {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4rem;
  padding: 0 2rem;
}

.tabs-trigger {
  all: unset;
  background-color: transparent;
  height: 4rem;
  display: flex;
  //   flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #bbc1e1;
  transition: all 0.3s;
  color: #848c9a;
  cursor: pointer;
  position: relative;

  &[data-state="active"] {
    color: var(--primary-color);
  }

  &[data-state="active"]::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.3s;
  }

  &:hover {
    opacity: 0.6;
  }
}

.tab-content {
  flex-grow: 1;
  background-color: #f5f7f8;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 4rem 0 2rem;
  //   min-height: 100vh;

  // display: flex;
  // flex-direction: column;
  position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     height: 100%;
  //     left: 10rem;
  //     width: 1rem;
  //     background-color: #7C7C7C;
  //   }
}

.list-date {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #7c7c7c;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prev-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: 700;
  transition: all .3s;
  // border: 1rem solid var(--white-color);
  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.total-ticket {
  color: #7c7c7c;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.next-button {
  background-color: #7c7c7c;
  color: var(--white-color);
  padding: .8rem 2rem;
  border-radius: 1rem;
  font-weight: 700;
  transition: all .3s;
  // border: 1rem solid var(--white-color);
  &:hover {
    background-color: #494949;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.current-page {
  font-size: 2rem;
  font-weight: 600;
  color: #7c7c7c;
}

.empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0;

  button {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    transition: all 0.3s;
    margin: 2rem 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.text {
  color: var(--black-900);
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}

/*****************************************
Event Item
*****************************************/

.event-item {
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 2rem;
  max-width: 700px;
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-left: 4rem;
  margin-top: 4rem;
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  &:hover {
    transform: translateX(30px);
  }

  display: flex;

  &::before {
    content: "";
    border-right: 12px dotted #f5f7f8;
    height: 100%;
    position: absolute;
    top: 0;
    left: 530px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -4rem;
    width: 0.3rem;
    background-color: #7c7c7c;
    border-radius: 2rem;
  }
}

.ticket-brand {
  font-size: 14rem;
  position: absolute;
  z-index: 1;
  font-weight: 600;
  color: #f5f7f825;
}

.col-left {
  display: flex;
  align-items: flex-start;
  height: 100%;
  gap: 4rem;
  flex: 1;
  z-index: 2;
}

.date-box {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.date-box-heading {
  font-size: 6rem;
  font-weight: 500;
  color: var(--white-color);
  line-height: 0.8;
}

.date-box-extra-detail {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  span {
    line-height: 1.2;
  }

  span:nth-of-type(1) {
    font-size: 1.4rem;
    font-weight: 700;
  }
  span:nth-of-type(2) {
    font-size: 1.4rem;
  }
}

.col-left-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}

.event-heading {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}

.event-subheading {
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

.location-heading {
  color: var(--white-color);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1;
}

.col-left-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.qr-code-wrapper {
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.col-right {
  // flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-number {
  webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-weight: 700;
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

@media (min-width: 992px) {
  .ticket {
    padding-block-start: calc(var(--section-padding) + 70px);
  }
}

@media (max-width: 672px) {
  .event-item {
    margin-left: 0rem;

    &:hover {
      transform: unset;
    }

    display: flex;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .ticket-brand {
    font-size: 8rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    font-weight: 600;
    color: #f5f7f825;
  }
}

@media (max-width: 560px) {
  .event-item {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .col-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4rem;
    flex: 1;
    z-index: 2;
  }

  .col-left-1 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-between;
  }

  .col-left-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 2;
  }

  .col-right {
    // flex: .5;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .ticket-number {
    transform: unset;
  }
}

@media (max-width: 350px) {
  .ticket-brand {
    font-size: 6rem;
  }

  .tabs-list {
    gap: 2.5rem;
  }

  .event-heading {
    font-size: 2.5rem;
  }

  .location-heading {
    font-size: 1.8rem;
  }
}
