.card-container {
  padding: 50rem;
  border: 1px solid #111;
}

.card-home {
  width: 822px;
  height: 400px;
  border-radius: 10px;

  position: absolute;
  left: 0;
  top: 0;

  background: #fff;

}

.card-home-image {
  width: 492px;
  position: absolute;
  height: 400px;
  left: 0;
  top: 0;
  border-radius: 10px 0 0 10px;
}

.card-home-descrition {
  position: absolute;
  width: 330px;
  height: 400px;
  left: 487px;
  top: 74px;
  border-radius: 0 10px 10px 0;
  border: 1px solid aqua;
}

.card-home-descrition
.card-home-date-inicio {
  position: absolute;
  width: 57px;
  height: 19px;
  left: 522px;
  top: 32px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;

  color: #FF5555;
}
.card-home-date {
  
} 

.card-home-descrition
.card-home-icon {

  position: absolute;
  width: 21px;
  height: 21px;
  left: 589px;
  top: 30px;
}

.card-home-descrition
.card-home-date-fim {
  position: absolute;
  width: 57px;
  height: 19px;
  left: 620px;
  top: 32px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;

  color: #FF5555;
}