.banner {
  background-color: var(--primary-color);
  padding: 2rem 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: var(--white-color);
  font-weight: 700;
  font-size: 3.2rem;
}
