.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 3rem 3rem 4rem;
  border-radius: 5px;
  width: 100%;
  background-color: var(--white-color);
  position: relative;
}

.heading {
  color: var(--black-900);
  font-size: 1.4rem;
  font-weight: 400;
}

.alert-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}
