.reference-page {
  background-color: #e8e8e8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.payment-method-img {
  width: 83px;
  height: 83px;
  object-fit: cover;
}

.content {
  margin-top: 6rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem 3rem;
}

.heading {
  color: var(--black-900);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.text {
  text-align: center;
  color: #636363;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 2rem 0;
}

.copy-clipboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px dashed #d9d9d9;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--black-700);
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  transition: all .3s;

  &:hover {
    border: 2px dashed var(--primary-color);
    box-shadow: 0 0 0.28rem #FFD1D1;
  }
}

.time-left-container {
  width: 100%;
  margin: 2rem 0;

  &-text {
    color: #636363;
    font-size: 1.6rem;
  }
}

.timer-heading {
  font-size: 2.4rem;
  font-weight: 500;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  margin: 0.5rem 0;

  transform: translate(0);

  &-indicator {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.item-heading {
  color: #4a4a4a;
  font-size: 1.6rem;
  font-weight: 700;
}

.item-subheading {
  color: #4a4a4a;
  font-size: 1.6rem;
  font-weight: 500;
}

.item-text {
  color: #4a4a4a;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.btn-primary, .btn-primary {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 5px;
    transition: all .2s;

    &:hover {
        opacity: 0.6;
    }
}

.btn-primary {
    background: var(--gradient-linear);
    color: var(--white-color);
    font-weight: 700;
}

.btn-secondary {
    color: var(--primary-color);
}

@media (min-width: 500px) {
    .content {
        border-radius: 5px; 
    }
}